{% load static %}

    <!-- Pre Header -->
    <div id="pre-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <span>Bienvenue sur le site du test de recrutement de lengow par Johan Lecuyer</span>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{% static 'orders/images/logo_lengow.svg' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                    {% if current_page == 'home' %}
                    <li class="nav-item active">
                        {% else %}
                        <li class="nav-item ">
                            {% endif %}
                
                <a class="nav-link" href="{% url 'index' %}">Acceuil
                    {% if current_page == 'home' %}
                  <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
              </li>
              {% if current_page == "load_flux_xml" %}
              <li class="nav-item active">
                  {% else %}
                  <li class="nav-item ">
                      {% endif %}
          <a class="nav-link" href="{% url 'orders:load_flux_xml' %}">Chargez un flux xml
                        {% if current_page == 'load_flux_xml' %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
